/* Selectores de Tag */
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Vaporwave-4K-Wallpapers.jpg");
    background-position: center;
    object-fit: contain;
}
h2{
    font-family: 'Sriracha', cursive;
    color: #00ffbf;
}
img{
    width: 250px;
    height: 250px;
    margin-top: 2em;
    border-radius: 15%; 
}
/* Selectores de clase */
.container{
    margin: auto;
    background: purple;
    opacity: 0.85;
    width: 450px;
    height: 450px;
    margin-top: 25vh;
    padding: 1em;
    border: 5px solid pink;
}
.container__img{
    display: flex;
    justify-content: center;  
}
.container__excuse{
    display: flex;
    justify-content: center;
}



